@model TrashCollector.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
        <h4>Change your account settings.<br /><br />Each pickup costs $25 per diem.</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create password", "SetPassword")
                }
                ]
            </dd>
            <dt>Address:</dt>
            <dd>
                [ @Html.ActionLink("Change address", "Index", "Addresses", new { id = ""}, null) ]
            </dd>
            <dt>My Pickups:</dt>
            <dd>
                [ @Html.ActionLink("Change pickup date", "Index", "Pickups", new { id = "" }, null) ]
            </dd>
            <dt>My Bill:</dt>
            <dd>
                [ @Html.ActionLink("Pay your bill", "Index", "Bills", new { id = "" }, null) ]
            </dd>

        </dl>