@model GarbageCollector.Models.IndexViewModel
@{
    ViewBag.Title = "Account Manager";
}
<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<h4>Your account overview.<br /><br />Unlimited, customizable trash pickups - only $50 per mensem.</h4>
<hr />
<dl class="dl-horizontal">
    <dt>Password:</dt>
    <dd>
        [
        @if (Model.HasPassword)
            {
            @Html.ActionLink("Change password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create password", "SetPassword")
        }
        ]
    </dd>
    <dt>Address:</dt>
    <dd>
        [ @Html.ActionLink("Change/View address", "Index", "Addresses", new { id = "" }, null) ]
    </dd>
    <dt>My Pickups:</dt>
    <dd>
        [ @Html.ActionLink("Change/View pickup date", "Index", "Schedules", new { id = "" }, null) ]
    </dd>
    <dt>My Bill:</dt>
    <dd>
        [ @Html.ActionLink("Pay/View your bill", "Index", "Bills", new { id = "" }, null) ]
    </dd>

</dl>
<br />
<br />
<br />
<br />