@model IEnumerable<GarbageCollector.Models.Pickup>

@{
    ViewBag.Title = "Index";
}

<h2>My Pickups</h2>

<p>
    @Html.ActionLink("Create a New Pickup", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Weekday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuspendUntil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Weekday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuspendUntil)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
